{% extends 'template.html.twig' %}

{% block title %}{{parent()}} - Nouvel Article{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path("articles_index") }}">Accueil de l'administration</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('articles_new') }}">Créer un nouvel article</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a>
        </li>
    </ul>
{% endblock %}
{% block contenu %}
    <p class="lead">{% block stitre %}Créez un nouvel article{% endblock %}</p>

    {{ include('articles/_form.html.twig') }}

    <hr> <a href="{{ path('articles_index') }}">Retour à l'accueil</a>
{% endblock %}
